Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

Update security_pipeline.yml
  .github/workflows/security_pipeline.yml
Due: none

ci(security): add snyk policy
  .github/workflows/security_pipeline.yml
  .snyk
Due: none

fix: use / instead of \
  .snyk
Due: none

chore: add reason to snyk policy file
  .snyk
Due: none

fix: rule.startsWith is not a function
  .snyk
Due: none

fix(game): broken loading and error state
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
Due: deploy_fe

Update README.md
  README.md
Due: none

tests
  server/src/test/java/com/goofy/builders/User2FaTestDataBuilder.java
  server/src/test/java/com/goofy/services/AuthenticationServiceImplTest.java
Due: deploy_be

tests: disable2fa_succes
  server/src/test/java/com/goofy/services/AuthenticationServiceImplTest.java
Due: deploy_be

Add files via upload
  docs/system_architecture_diagram.png
Due: none

Delete system_architecture_diagram.png
  docs/system_architecture_diagram.png
Due: none

tests: verify2fa with invalid code
  server/src/test/java/com/goofy/services/AuthenticationServiceImplTest.java
Due: deploy_be

Add files via upload
  docs/sequence_diagram_1.png
  docs/sequence_diagram_2.png
  docs/sequence_diagram_3.png
Due: none

Add files via upload
  docs/architectural_choices_1.png
  docs/architectural_choices_2.png
Due: none

tests: all tests for the authenticationServiceImpl
  server/src/test/java/com/goofy/builders/User2FaTestDataBuilder.java
  server/src/test/java/com/goofy/services/AuthenticationServiceImplTest.java
Due: deploy_be

feat: Location popup now shows
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
Due: deploy_fe

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
