Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

fix: heroku not working
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: still trying to fix heroku
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: heroku error fix
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: heroku error
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: error handling
  server/src/main/java/com/goofy/exceptions/NoDeparturesFoundException.java
  server/src/main/java/com/goofy/exceptions/NoStationFoundException.java
  server/src/main/java/com/goofy/services/DepartureService.java
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: datetime
  server/src/main/java/com/goofy/services/DepartureService.java
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

fix: conversation pull request
  client/src/app/app-routing.module.ts
  client/src/app/game-page/src/lib/game-page-routing.module.ts
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/tsconfig.json
  server/src/main/java/com/goofy/controllers/DepartureController.java
Due: deploy_fe, deploy_be

fix: conversation pull request
  server/src/main/java/com/goofy/controllers/DepartureController.java
Due: deploy_be

docs(arch): create system architecture diagram
  docs/system_architecture.uxf
Due: none

docs: Update readme with Sprint 2 self evaluation
  README.md
Due: none

refactor: Remove mail parameter
  client/src/app/shared-services/src/lib/auth.service.ts
  client/src/app/verification-page/src/lib/verification-page/verification-page.component.ts
Due: deploy_fe

feat(profile): setup of the profile components
  client/src/app/app-routing.module.ts
  client/src/app/home-page/src/lib/home-page/home-page.component.html
  client/src/app/profile-page/src/index.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.spec.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.html
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.scss
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.spec.ts
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.ts
  client/src/app/profile-page/src/lib/profile-page-routing.module.ts
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.spec.ts
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.spec.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.spec.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
  client/tsconfig.json
Due: deploy_fe

feat(profile): loading the components
  client/src/app/profile-page/src/lib/profile-page-routing.module.ts
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
Due: deploy_fe

style: feedback on the random-train page
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.scss
Due: deploy_fe

style: fix go back btn position and add location placement
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.scss
  client/src/app/game-page/src/lib/start-page/start-page.component.html
  client/src/app/game-page/src/lib/start-page/start-page.component.scss
  client/src/app/home-page/src/lib/home-page/home-page.component.scss
Due: deploy_fe

feat: showing the start location on the random train page
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.html
Due: deploy_fe

style: profile banner and navigation
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
  client/src/assets/profile_page_BG.svg
Due: deploy_fe

style: navbar and component loading
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.ts
Due: deploy_fe

style: title for profile pages
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.html
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.scss
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
Due: deploy_fe

style: adding go back home button
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
Due: deploy_fe

style: account page layout
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
Due: deploy_fe

feat: state patern for account form
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat(trip): store image
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/dtos/TripImageDTO.java
  server/src/main/java/com/goofy/exceptions/NoContentTypeException.java
  server/src/main/java/com/goofy/exceptions/TripImageAlreadyExistsException.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
  server/src/main/java/com/goofy/validators/ImageSize.java
  server/src/main/java/com/goofy/validators/ImageSizeValidator.java
Due: deploy_be

feat: get all the information for the account and display the info
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/models/Profile.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

fix: flow
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

feat(trip): Save trip
  server/src/main/java/com/goofy/dtos/TripDTO.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

Changes by Kokolini
  server/src/main/java/com/goofy/controllers/TripController.java
Due: deploy_be

feat: get the new email/username
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

feat: edit the emai/username and update email
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

refactor: code checks for email already exist
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

feat: adding password field
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat(trip): Arrived at station
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/services/random-train.service.ts
  client/src/app/shared-models/src/index.ts
  client/src/app/shared-models/src/lib/trip-model.ts
Due: deploy_fe

feat(trip): save Trip
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

feat(trip): save Trip
  server/src/main/java/com/goofy/controllers/TripController.java
Due: deploy_be

feat(image): upload image
  client/src/app/game-page/src/lib/game-page-routing.module.ts
  client/src/app/game-page/src/lib/game-page.module.ts
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.html
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.scss
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.spec.ts
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/services/picture-upload.service.ts
Due: deploy_fe

feat(trip): get trip by id
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

feat: update username
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

feat: only update username/email when value changed
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat: Setup base Stats-page
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
Due: deploy_fe

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
