Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

test(trip): add tests get trips
  server/src/test/java/com/goofy/services/TripServiceImplTest.java
Due: deploy_be

test(filteredDepartures): filteredDepartures
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
  server/src/test/java/com/goofy/services/DepartureServiceImplTest.java
Due: deploy_be

tests: departureService testen
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
  server/src/test/java/com/goofy/services/DepartureServiceImplTest.java
Due: deploy_be

feat: Usage of BuilderPattern for stats
  server/pom.xml
  server/src/main/java/com/goofy/builders/StatsDataBuilder.java
  server/src/main/java/com/goofy/controllers/EmailController.java
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/models/Stats.java
  server/src/main/java/com/goofy/services/StatsServiceImpl.java
  server/src/test/java/com/goofy/builders/UserTestDataBuilder.java
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

tests: Creation begin of stats-test cases
  server/src/test/java/com/goofy/builders/StatsTestDataBuilder.java
  server/src/test/java/com/goofy/services/StatsServiceImplTest.java
Due: deploy_be

fix: fixing error handling after testing
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  server/pom.xml
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_fe, deploy_be

fix: editting the test cases
  server/src/test/java/com/goofy/services/DepartureServiceImplTest.java
Due: deploy_be

tests: Creation tests for updateStats
  server/src/test/java/com/goofy/services/StatsServiceImplTest.java
Due: deploy_be

refactor: Add extra comment
  server/src/test/java/com/goofy/services/StatsServiceImplTest.java
Due: deploy_be

fix: Register function works now
  server/src/main/java/com/goofy/dtos/UserDTO.java
Due: deploy_be

Profile Tests (#50)
  client/src/app/profile-page/src/lib/account-page/account-page.component.spec.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  server/pom.xml
  server/src/main/java/com/goofy/builders/StatsDataBuilder.java
  server/src/main/java/com/goofy/controllers/EmailController.java
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/dtos/UserDTO.java
  server/src/main/java/com/goofy/models/Stats.java
  server/src/main/java/com/goofy/services/StatsServiceImpl.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
  server/src/test/java/TrainGameServerApplicationTests.java
  server/src/test/java/com/goofy/builders/StatsTestDataBuilder.java
  server/src/test/java/com/goofy/builders/UserTestDataBuilder.java
  server/src/test/java/com/goofy/services/StatsServiceImplTest.java
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_fe, deploy_be

test(userService): test for saveUser and usernameExists
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

feat: Addition of BE-Test job in actions
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
  server/src/test/java/com/goofy/services/UserServiceImplTest.java
Due: deploy_be

fix: Addition distribution for Java 17
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

chore: remove unused test
  server/src/test/java/TrainGameServerApplicationTests.java
Due: deploy_be

refactor: remove train state variable
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

style: remove un-used buttons
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/home-page/src/lib/home-page/home-page.component.html
Due: deploy_fe

fix: button state
  client/src/app/game-page/src/lib/random-train/random-train.component.html
Due: deploy_fe

fix: hide ongoing trip no auth
  client/src/app/home-page/src/lib/home-page/home-page.component.html
Due: deploy_fe

style: make UI mobile friendly
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.scss
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
Due: deploy_fe

refactor: remove snackbar delay
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

fix: error when logout
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

feat: add load state to random train
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

feat: ongoing trips only for signed in user
  client/src/app/home-page/src/lib/home-page/home-page.component.html
  client/src/app/home-page/src/lib/home-page/home-page.component.ts
Due: deploy_fe

feat: layout and QR code for 2fa
  client/package-lock.json
  client/package.json
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/profile-page.module.ts
Due: deploy_fe

feat: layout for pc done
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat: mobile layout
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
Due: deploy_fe

feat: insert empty activate and secret on register
  server/src/main/java/com/goofy/dtos/UserDTO.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

fix: back-end part of inserting secret/isEnabled
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/models/Profile.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

fix: updating values
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/models/Profile.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

feat: disable 2fa
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

fix: QR code dynamic secret use
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat: Creation userAchievements-column upon registering
  server/src/main/java/com/goofy/models/Achievement.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
  server/src/test/java/com/goofy/services/TripServiceImplTest.java
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

feat: adding the authenticator classes
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/pom.xml
  server/src/main/java/com/goofy/controllers/AuthenticationController.java
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/security/CustomTotp.java
  server/src/main/java/com/goofy/services/AuthenticationService.java
  server/src/main/java/com/goofy/services/AuthenticationServiceImpl.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

fix: move logica to authController instead of user
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/AuthenticationController.java
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

fix: move logica to authService
  server/src/main/java/com/goofy/controllers/AuthenticationController.java
  server/src/main/java/com/goofy/services/AuthenticationService.java
  server/src/main/java/com/goofy/services/AuthenticationServiceImpl.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

style: 2fa dialog on login
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.html
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.scss
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/login-page/src/lib/login-page.module.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

feat: setup leaflet
  client/angular.json
  client/package-lock.json
  client/package.json
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: add coordinates to image
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  server/src/main/java/com/goofy/dtos/TripImageDTO.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_fe, deploy_be

feat: using 2fa for login
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.html
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
