Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "client/**/*"
  script:
    - set GIT_TRACE_PACKET=1
    - set GIT_TRACE=1
    - set GIT_CURL_VERBOSE=1
    - git branch -D splitting-fe || true
    - git remote rm heroku-fe-app || true
    - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-fe.git || true
    - git subtree split --prefix client -b splitting-fe
    - git push --force heroku-fe-app splitting-fe:main
    - git branch -D splitting-fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "server/**/*"
  script:
    - git branch -D splitting-be || true
    - git remote rm heroku-be-app || true
    - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
    - git subtree split --prefix server -b splitting-be
    - git push --force heroku-be-app splitting-be:main
    - git branch -D splitting-be

feat(cicd): Test cicd to Heroku
  server/src/main/java/com/goofy/controllers/StationController.java
Due: deploy_be

feat(cicd): Test number 2
  server/src/main/java/com/goofy/controllers/StationController.java
Due: deploy_be

feat(cicd): Final test
  server/src/main/java/com/goofy/controllers/StationController.java
Due: deploy_be

chore: ignore Google Service Account
  server/.gitignore
Due: deploy_be

feat(cicd) pipeline.yml
  .github/workflows/pipeline.yml
  .gitlab-ci.yml
Due: none

feat(readme.md): Add status pipeline
  README.md
Due: none

refactor: Change pipeline attributes
  .github/workflows/pipeline.yml
Due: none

refactor: Another change
  .github/workflows/pipeline.yml
Due: none

feat(firebase): create firebase config
  server/src/main/java/com/goofy/configs/FirebaseConfig.java
Due: deploy_be

feat(register): Register setup
  client/src/app/app-routing.module.ts
  client/src/app/register-page/src/index.ts
  client/src/app/register-page/src/lib/register-page-routing.module.ts
  client/src/app/register-page/src/lib/register-page.module.ts
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.scss
  client/src/app/register-page/src/lib/register-page/register-page.component.spec.ts
  client/src/app/register-page/src/lib/register-page/register-page.component.ts
  client/tsconfig.json
Due: deploy_fe

refactor: Final pipeline test
  README.md
Due: none

revert(firebase): remove .gitignore
  server/.gitignore
Due: deploy_be

chore(api): add gson
  server/pom.xml
Due: deploy_be

chore(firebase): set firebase credentials
  server/src/main/resources/application.properties
Due: deploy_be

chore(api): add .gitignore
  server/.gitignore
Due: deploy_be

feat(firebase): implement GSON parser
  server/src/main/java/com/goofy/configs/FirebaseConfig.java
Due: deploy_be

chore(api): ignore application properties
  server/src/main/resources/application.properties
Due: deploy_be

feat(register): Register setup
  client/src/app/register-page/src/lib/register-page.module.ts
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.scss
Due: deploy_fe

fix(api): firebase URL not working
  server/.gitignore
  server/src/main/resources/application.properties
Due: deploy_be

feat(register): Register setup
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.ts
Due: deploy_fe

style(home-page): styling desktop version done
  client/package-lock.json
  client/package.json
  client/src/app/home-page/src/lib/home-page/home-page.component.html
  client/src/app/home-page/src/lib/home-page/home-page.component.scss
Due: deploy_fe

style(home-page): mobile version
  client/src/app/home-page/src/lib/home-page/home-page.component.html
  client/src/app/home-page/src/lib/home-page/home-page.component.scss
Due: deploy_fe

feat(register): Email and password validation
  client/src/app/app.module.ts
  client/src/app/register-page/src/lib/register-page/register-page.component.html
Due: deploy_fe

feat(register): login register button
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.scss
Due: deploy_fe

style: remove white space
  server/src/main/java/com/goofy/configs/FirebaseConfig.java
Due: deploy_be

feat(api): add firebase properties
  server/.gitignore
  server/src/main/resources/application.properties
Due: deploy_be

chore(api): ignore properties
  server/.gitignore
Due: deploy_be

chore(api): remove application.properties
  server/src/main/resources/application.properties
Due: deploy_be

revert(api): undo application.properties
  server/.gitignore
  server/src/main/resources/application.properties
Due: deploy_be

feat(register): Add username
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.scss
Due: deploy_fe

feat(register): Validation for username
  client/src/app/register-page/src/lib/register-page/register-page.component.ts
Due: deploy_fe

chore(UserController): Model User BE
  server/src/main/java/com/goofy/models/User.java
Due: deploy_be

feat(user): BE Validation implementation
  server/pom.xml
  server/src/main/java/com/goofy/dtos/UserDTO.java
  server/src/main/java/com/goofy/exception/handler/GlobalExceptionHandler.java
  server/src/main/java/com/goofy/models/User.java
Due: deploy_be

fix(security): disable csrf
  server/src/main/java/com/goofy/configs/WebSecurityConfig.java
Due: deploy_be

feat(user): save user to firebase
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/dtos/UserDTO.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

feat(api): Add Firestore
  server/src/main/java/com/goofy/configs/FirebaseConfig.java
Due: deploy_be

feat(user): Check username
  server/src/main/java/com/goofy/configs/GlobalExceptionHandler.java
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

feat(user): Check username
  server/src/main/java/com/goofy/exceptions/UsernameExistsException.java
  server/src/main/java/com/goofy/services/UserService.java
Due: deploy_be
