Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

feat: Creation retrieve/update Achievements of User
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/shared-models/src/lib/achievement-stats.model.ts
  client/src/app/shared-models/src/lib/achievement-user.model.ts
  client/src/app/shared-models/src/lib/stats.model.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/AchievementController.java
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/models/Achievement.java
  server/src/main/java/com/goofy/services/AchievementService.java
  server/src/main/java/com/goofy/services/AchievementServiceImpl.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

feat: 2fa login only when enabled + bug fixes
  client/src/app/home-page/src/lib/home-page.module.ts
  client/src/app/home-page/src/lib/home-page/home-page.component.ts
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

feat: get trip images
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

fix: disable function and organize code
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  server/src/main/java/com/goofy/services/AuthenticationServiceImpl.java
Due: deploy_fe, deploy_be

fix: only be able to type 6 numbers and can not submit with less
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.html
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: only be able to type 6 numbers bug
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.html
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: dialog not closing
  client/src/app/home-page/src/lib/home-page/home-page.component.ts
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.html
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  server/src/main/java/com/goofy/services/AuthenticationServiceImpl.java
Due: deploy_fe, deploy_be

feat(map): show trip images in map
  client/src/app/profile-page/src/lib/models/map-image.model.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
  client/src/app/shared-services/src/lib/trip.service.ts
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/models/TripImage.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_fe, deploy_be

fix: state of the enable/diable btn
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/main.ts
Due: deploy_fe

feat(map): show images in popup
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

fix: login problem fixed
  client/src/app/login-page/src/lib/components/two-fa-dialog/two-fa-dialog.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  client/src/main.ts
  server/src/main/java/com/goofy/configs/WebSecurityConfig.java
  server/src/main/java/com/goofy/controllers/AuthenticationController.java
  server/src/main/java/com/goofy/controllers/UserController.java
  server/src/main/java/com/goofy/services/UserService.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_fe, deploy_be

style: add flexbox layout
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
Due: deploy_fe

feat: FE of Achievements page
  client/src/app/game-page/src/lib/game-page.module.ts
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.html
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.scss
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
  client/src/app/shared-models/src/lib/achievement-user.model.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/models/Achievement.java
  server/src/main/java/com/goofy/services/AchievementServiceImpl.java
Due: deploy_fe, deploy_be

style: style marker image
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: create security pipeline
  .github/workflows/security_pipeline.yml
Due: none

Update security_pipeline.yml
  .github/workflows/security_pipeline.yml
Due: none

feat: Show confetti at achievement unlock scenario
  client/package-lock.json
  client/package.json
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/services/AchievementServiceImpl.java
Due: deploy_fe, deploy_be

fix(security): dependency issues
  server/pom.xml
Due: deploy_be

chore: clean dependencies
  server/pom.xml
  server/src/main/java/com/goofy/controllers/DepartureController.java
  server/src/main/java/com/goofy/controllers/EmailController.java
  server/src/main/java/com/goofy/controllers/StationController.java
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/controllers/TripController.java
Due: deploy_be

fix: saveUser_validUser_returnsCreatedUser now with achievement-mocks
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

chore: upgraded versions
  server/pom.xml
Due: deploy_be

chore: upgrade major spring version
  server/pom.xml
Due: deploy_be

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
