Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

feat: adding password fields and disable save btn if nothing changed
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat(trip): rename service
  client/src/app/game-page/src/lib/game-page.module.ts
  client/src/app/game-page/src/lib/services/trip.service.ts
Due: deploy_fe

feat: error handling username and email
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat(trip): create response model
  client/src/app/shared-models/src/index.ts
  client/src/app/shared-models/src/lib/trip-response.model.ts
Due: deploy_fe

feat(trip): create response model
  server/src/main/java/com/goofy/models/TripResponse.java
Due: deploy_be

fix: delete comments and consolelogs
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat(trip): save trip
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/services/random-train.service.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.html
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
  server/src/main/java/com/goofy/controllers/TripController.java
Due: deploy_fe, deploy_be

Changes by Kokolini
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
Due: deploy_fe

fix: onsubmit function splitup
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: change getting the user
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

feat: change password with email auth
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/EmailController.java
Due: deploy_fe, deploy_be

feat(trip): save trip
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/game-page/src/lib/services/trip.service.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
  client/src/app/shared-models/src/lib/trip-model.ts
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/dtos/TripDTO.java
  server/src/main/java/com/goofy/models/Trip.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_fe, deploy_be

style: editting the icons
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
Due: deploy_fe

style: btn icons
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
Due: deploy_fe

refactor: Change styling stats page
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
Due: deploy_fe

style: bigger text fields
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

style: add logout btn to profile pages
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.html
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.scss
  client/src/app/profile-page/src/lib/profile-page/profile-page.component.ts
Due: deploy_fe

fix: routing after editting email
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: routing and error handling after code review
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: check for empty values before submitting the form
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

fix: check if the fields are empty and then dont submit
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
Due: deploy_fe

feat: Creation TripController to retrieve duration of 2-point trip
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/models/Trip.java
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
  server/src/main/resources/application.properties
Due: deploy_be

feat: Creation stats-document on registering account
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

feat(trip): save image
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.html
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.scss
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  server/src/main/java/com/goofy/configs/GlobalExceptionHandler.java
  server/src/main/java/com/goofy/dtos/TripImageDTO.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
  server/src/main/java/com/goofy/validators/ImageSize.java
  server/src/main/java/com/goofy/validators/ImageSizeValidator.java
Due: deploy_fe, deploy_be

feat(trip): add max blob size check
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
Due: deploy_fe

feat(trip): add loading bar
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.html
Due: deploy_fe

refactor(trip): rename trip service
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
Due: deploy_fe

feat(trip): end trip
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.html
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
Due: deploy_fe

feat(trip): get trips
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/models/TripFilter.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

feat(util): create optional param util
  client/src/app/shared-utils/src/index.ts
  client/src/app/shared-utils/src/lib/http-params.util.ts
Due: deploy_fe

refactor(trip): move trip service to shared module
  client/src/app/shared-services/src/index.ts
  client/src/app/shared-services/src/lib/trip.service.ts
  client/tsconfig.json
Due: deploy_fe

feat(trip): create button back home
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

refactor(game): use shared service path
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
Due: deploy_fe

feat(trip): show ongoing trips
  client/src/app/home-page/src/lib/home-page.module.ts
  client/src/app/home-page/src/lib/home-page/home-page.component.html
  client/src/app/home-page/src/lib/home-page/home-page.component.scss
  client/src/app/home-page/src/lib/home-page/home-page.component.ts
Due: deploy_fe

refactor(game): remove unused provider
  client/src/app/game-page/src/lib/game-page.module.ts
Due: deploy_fe

fix(trip): use exit station uicCode
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

feat(trip progress): trip progress overview
  client/src/app/game-page/src/lib/components/trip-overview-dialog/trip-overview-dialog.component.html
  client/src/app/game-page/src/lib/components/trip-overview-dialog/trip-overview-dialog.component.scss
  client/src/app/game-page/src/lib/components/trip-overview-dialog/trip-overview-dialog.component.ts
  client/src/app/game-page/src/lib/game-page.module.ts
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.html
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.scss
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
Due: deploy_fe

style: start of travel history
  client/src/app/profile-page/src/lib/account-page/account-page.component.scss
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

style: travel history styling
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
Due: deploy_fe

refactor: Usage of Lombok and extra filter for departures
  server/src/main/java/com/goofy/controllers/DepartureController.java
  server/src/main/java/com/goofy/models/Departure.java
  server/src/main/java/com/goofy/models/Station.java
  server/src/main/java/com/goofy/models/Trip.java
  server/src/main/java/com/goofy/services/DepartureServiceImpl.java
Due: deploy_be

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
