Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

refactor: Change API-route to retrieve total duration of trip
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/models/Departure.java
  server/src/main/java/com/goofy/models/NsTrip.java
  server/src/main/java/com/goofy/models/Trip.java
Due: deploy_be

get all trips of the user
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

refactor: DateTime conversion
  client/src/app/game-page/src/lib/random-train/random-train.component.html
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
  client/src/app/shared-models/src/lib/route-station.model.ts
  server/src/main/java/com/goofy/models/Departure.java
Due: deploy_fe, deploy_be

feat: call the back-end functions to get trip
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

refactor: departureTime now only applied to second-last station
  client/src/app/game-page/src/lib/random-train/random-train.component.ts
Due: deploy_fe

feat: adding a date when saving a trip to display on trip history
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/shared-models/src/lib/trip-model.ts
  server/src/main/java/com/goofy/dtos/TripDTO.java
  server/src/main/java/com/goofy/models/Trip.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_fe, deploy_be

feat: Find and Update user's stats
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/models/Departure.java
  server/src/main/java/com/goofy/models/Stats.java
  server/src/main/java/com/goofy/services/StatsService.java
  server/src/main/java/com/goofy/services/StatsServiceImpl.java
  server/src/main/java/com/goofy/services/TripService.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

feat: User's stats shown in Front-End
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
  client/src/app/shared-models/src/index.ts
  client/src/app/shared-models/src/lib/stats.model.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  server/src/main/java/com/goofy/controllers/StatsController.java
Due: deploy_fe, deploy_be

feat: adding loaders to account page and travel history
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: add error handling when there are no trips
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: adding date sorting
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: State implementation for stats page
  client/src/app/profile-page/src/lib/account-page/account-page.component.html
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.html
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
Due: deploy_fe

fix: use of state patern
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: adding pager to only show 5 items on the screen at the time
  client/src/app/profile-page/src/lib/profile-page.module.ts
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: paginator items per page also working
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

fix: change trip card name
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

fix: remove unused imports
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

feat: Retrieve total duration of Trip and update user's stats
  client/src/app/game-page/src/lib/picture-upload-page/picture-upload-page.component.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.html
  client/src/app/shared-models/src/index.ts
  client/src/app/shared-models/src/lib/nsTrip.model.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  client/src/app/shared-services/src/lib/trip.service.ts
  server/src/main/java/com/goofy/controllers/StatsController.java
  server/src/main/java/com/goofy/controllers/TripController.java
  server/src/main/java/com/goofy/models/NsTrip.java
Due: deploy_fe, deploy_be

style: Style fix in mobile
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.scss
  client/src/app/profile-page/src/lib/stats-page/stats-page.component.ts
Due: deploy_fe

fix: fix after discarding items
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.html
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.scss
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.ts
Due: deploy_fe

style: adding emote
  client/src/app/profile-page/src/lib/achievements-page/achievements-page.component.html
Due: deploy_fe

fix: no trips yet
  client/src/app/profile-page/src/lib/travel-history-page/travel-history-page.component.html
Due: deploy_fe

refactor: Fix issue gathering ongoing-trips in travel history
  server/src/main/java/com/goofy/services/TripServiceImpl.java
Due: deploy_be

refactor: Map <String, String> change to <String, Object>
  server/src/main/java/com/goofy/services/UserServiceImpl.java
Due: deploy_be

feat: start of unit testing
  server/src/test/java/com/goofy/UserServiceImplTests.java
  server/src/test/java/com/goofy/services/TrainGameServerApplicationTests.java
Due: deploy_be

tests: start of unit testing userService
  server/src/main/java/com/goofy/services/UserServiceImpl.java
  server/src/test/java/TrainGameServerApplicationTests.java
  server/src/test/java/com/goofy/UserServiceImplTests.java
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

tests: test refactor
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

tests: username test start
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

test(saveTrip): test save trip with tripid and without
  server/src/main/java/com/goofy/services/TripServiceImpl.java
  server/src/main/java/com/goofy/utils/UUIDGenerator.java
  server/src/main/java/com/goofy/utils/UUIDGeneratorImpl.java
  server/src/test/java/com/goofy/services/TripServiceImplTest.java
Due: deploy_be

test(game): add start page component tests
  client/src/app/game-page/src/lib/start-page/start-page.component.spec.ts
  client/src/app/game-page/src/lib/start-page/start-page.component.ts
Due: deploy_fe

refactor(game): remove unused mock
  client/src/app/game-page/src/lib/start-page/start-page.component.spec.ts
Due: deploy_fe

undo(game): add mocks for testing dependencies
  client/src/app/game-page/src/lib/start-page/start-page.component.spec.ts
Due: deploy_fe

test(getTripById): get trip by id test
  server/src/test/java/com/goofy/services/TripServiceImplTest.java
Due: deploy_be

tests: Username check and userprofile get
  client/src/app/profile-page/src/lib/account-page/account-page.component.spec.ts
  client/src/app/profile-page/src/lib/account-page/account-page.component.ts
  server/src/main/java/com/goofy/dtos/UserDTO.java
  server/src/main/java/com/goofy/services/UserServiceImpl.java
  server/src/main/resources/application.properties
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_fe, deploy_be

fix: properties
  server/src/main/resources/application.properties
Due: deploy_be

tests: change username
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

fix: improve tests and add builder pattern
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
  server/src/test/java/com/goofy/services/UserTestDataBuilder.java
Due: deploy_be

test(trip): add save image tests
  server/src/main/java/com/goofy/configs/GlobalExceptionHandler.java
  server/src/main/java/com/goofy/exceptions/UnsupportedFileExtensionException.java
  server/src/main/java/com/goofy/services/TripServiceImpl.java
  server/src/test/java/com/goofy/services/TripServiceImplTest.java
Due: deploy_be

fix: rewrite tests
  server/src/test/java/com/goofy/services/UserServiceImplTests.java
Due: deploy_be

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
