Repository team-goofy/project-train-game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - set GIT_TRACE_PACKET=1
  - set GIT_TRACE=1
  - set GIT_CURL_VERBOSE=1
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  ...

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be || true
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/train-game-staging-be.git || true
  - git subtree split --prefix server -b splitting-be
  ...

feat(user): save user
  client/src/app/app.module.ts
  client/src/app/shared-models/src/index.ts
  client/src/app/shared-models/src/lib/user-request.model.ts
  client/src/app/shared-models/src/lib/user.model.ts
  client/src/app/shared-services/src/lib/auth.service.ts
Due: deploy_fe

feat(user): save user
  client/src/app/register-page/src/lib/register-page.module.ts
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.ts
Due: deploy_fe

feat(user): handle username exception
  server/src/main/java/com/goofy/configs/GlobalExceptionHandler.java
Due: deploy_be

feat(user): check if username exists
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.ts
  client/src/app/shared-services/src/lib/auth.service.ts
  client/src/environments/environment.development.ts
  client/src/environments/environment.ts
  server/src/main/java/com/goofy/configs/WebSecurityConfig.java
  server/src/main/java/com/goofy/controllers/UserController.java
Due: deploy_fe, deploy_be

feat(cicd): creating staging pipeline
  .github/workflows/prod_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

feat(cicd): changing the name for testing purpose
  .github/workflows/prod_pipeline.yml
Due: none

feat(cicd): instead of on merge on pull request close
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

feat(cicd): on pull request
  .github/workflows/staging_pipeline.yml
Due: none

feat(cicd): revert changes
  .github/workflows/staging_pipeline.yml
Due: none

Update README.md
  README.md
Due: none

feat: Add server.js for Angular
  client/server.js
Due: deploy_fe

refactor: Change server.js and package.json values
  client/package-lock.json
  client/package.json
  client/server.js
Due: deploy_fe

refactor: Delete dependency
  client/package.json
Due: deploy_fe

refactor: Remove --prod
  client/package.json
Due: deploy_fe

refactor: Change server.js
  client/server.js
Due: deploy_fe

feat: Add express dependency
  client/package-lock.json
  client/package.json
Due: deploy_fe

ci: create staging env
  client/src/environments/environment.staging.ts
Due: deploy_fe

fix: remove /
  client/src/environments/environment.staging.ts
Due: deploy_fe

refactor: Add git trace packet scripts
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

refactor: Add postBuffer attribute
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

refactor: Add unshallow
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

refactor: Change placements
  .github/workflows/production_pipeline.yml
  .github/workflows/staging_pipeline.yml
Due: none

ci(client): add environment support
  client/angular.json
  client/package.json
  client/src/environments/environment.prod.ts
  client/src/environments/environment.staging.ts
  client/src/environments/environment.ts
Due: deploy_fe

fix(security): permit CORS on deployment
  server/src/main/java/com/goofy/configs/WebSecurityConfig.java
Due: deploy_be

style(home-page) fix mobile version
  client/src/app/home-page/src/lib/home-page/home-page.component.scss
Due: deploy_fe

feat(game): create game page
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/game-page/src/index.ts
  client/src/app/game-page/src/lib/game-page-routing.module.ts
  client/src/app/game-page/src/lib/game-page.module.ts
  client/src/app/game-page/src/lib/game-page/game-page.component.html
  client/src/app/game-page/src/lib/game-page/game-page.component.scss
  client/src/app/game-page/src/lib/game-page/game-page.component.spec.ts
  client/src/app/game-page/src/lib/game-page/game-page.component.ts
  client/tsconfig.json
Due: deploy_fe

style(login): styling for the login page desktop version
  client/src/app/login-page/src/lib/login-page.module.ts
  client/src/app/login-page/src/lib/login-page/login-page.component.html
  client/src/app/login-page/src/lib/login-page/login-page.component.scss
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

feat(home-page): link to login page
  client/src/app/home-page/src/lib/home-page/home-page.component.html
Due: deploy_fe

fix(staging) staging pipeline run on creating pull request
  .github/workflows/staging_pipeline.yml
Due: none

fix(production): production pipeline run on merge to master
  .github/workflows/production_pipeline.yml
Due: none

fix(staging): manually run the flow before merge to master
  .github/workflows/staging_pipeline.yml
Due: none

fix(test): test if pipelines run
  README.md
  client/README.md
Due: deploy_fe

fix(production): workflow not running on push
  .github/workflows/production_pipeline.yml
Due: none

fix(cicd): editting anyCOmponentStyle warning
  client/angular.json
Due: deploy_fe

fix(testing): cicd pipeline on merge request test
  client/README.md
Due: deploy_fe

fix(link): login link from homepage
  client/src/app/home-page/src/lib/home-page/home-page.component.html
Due: deploy_fe

feat(login): login form problem
  client/src/app/login-page/src/lib/login-page/login-page.component.html
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

feat(login): eye to check password
  client/src/app/login-page/src/lib/login-page/login-page.component.html
  client/src/app/login-page/src/lib/login-page/login-page.component.ts
Due: deploy_fe

style(password): add forgot password option
  client/src/app/login-page/src/lib/login-page/login-page.component.html
  client/src/app/login-page/src/lib/login-page/login-page.component.scss
Due: deploy_fe

feat(theme): Add custom Angular Material theme
  client/src/_palette.scss
  client/src/app/register-page/src/lib/register-page/register-page.component.html
  client/src/app/register-page/src/lib/register-page/register-page.component.scss
  client/src/styles.scss
Due: deploy_fe

Path conditions:
  deploy_fe: any of: client/**/*
  deploy_be: any of: server/**/*
